@use "@/scss/variables.scss";

.section {
  padding-block: variables.$spacing-section;
}

.container {
  @include variables.container;
  @include variables.flex;
  flex-direction: column;
}

.title {
  @include variables.font-h2;
  margin-bottom: variables.$spacing-sm;
}

.text {
  @include variables.font-caption;
  margin-bottom: variables.$spacing-lg;
}
.list {
  @include variables.flex;
  flex-direction: column;
  gap: variables.$spacing-lg;
}
.item {
  background-color: rgba(variables.$text, 0.5);
  padding: variables.$spacing-lg;
  border-radius: 12px;
}
.caption {
}
.descr {
}
.sublist {
}
.subitem {
}
