@use "@/scss/variables.scss";

.hero {
  padding-top: 68px + variables.$spacing-section;
  padding-bottom: variables.$spacing-section;
}

.container {
  @include variables.container;
  @include variables.flex;
  align-items: center;
}

.wrapper {
  @include variables.flex;
  flex-basis: 80%;
  flex-direction: column;
}

.title {
  @include variables.font-h1;
  margin-bottom: 10px;
}
.status {
  @include variables.flex;
  align-items: center;
  gap: 2px;
  font-size: 1.2rem;
}

.status__last {
  margin-bottom: variables.$spacing-lg;
}

.fiber {
  animation: pulse-green 2s infinite;
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  border-radius: 50%;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

.descr,
.text {
  @include variables.font-text-md;
}

.descr {
  margin-bottom: variables.$spacing-lg;
  max-width: 80%;
}
.text {
}
.img {
  flex-basis: 20%;
  height: auto;
  max-width: 20%;
  object-fit: contain;
  -webkit-box-shadow: 1.875rem 1.875rem 1px 0px var(--color-text-alpha);
  -moz-box-shadow: 1.875rem 1.875rem 1px 0px var(--color-text-alpha);
  box-shadow: 1.875rem 1.875rem 1px 0px var(--color-text-alpha);
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-basis: 100%;
  }
  .descr {
    max-width: 100%;
  }
  .img {
    display: none;
  }
}