@use "@/scss/variables.scss";

.section {
  padding-block: variables.$spacing-section;
  background-color: var(--color-text-alpha);
}

.container {
  @include variables.container;
  @include variables.flex;
  flex-direction: column;
}

.title {
  @include variables.font-h2;
  margin-bottom: variables.$spacing-lg;
}

.wrapper {
  @include variables.flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  -webkit-box-shadow: -30px 30px 1px 0px var(--color-background-alpha);
  -moz-box-shadow: -30px 30px 1px 0px var(--color-background-alpha);
  box-shadow: -30px 30px 1px 0px var(--color-background-alpha);
}

.wrapper__right {
  @include variables.flex;
  flex-direction: column;
  gap: variables.$spacing-sm;
  max-width: 45%;
}

.caption {
  @include variables.font-h3;
  margin-bottom: variables.$spacing-sm;
}

@media only screen and (max-width: 600px) {
  .img {
    display: none;
  }
  .wrapper__right {
    max-width: 100%;
  }
}