@use "@/scss/variables.scss";

.footer {
  padding-block: variables.$spacing-sm;
}

.container {
  @include variables.container;
  @include variables.flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.text {
  @include variables.font-text-sm;
}
