@use "@/scss/variables.scss";

.section {
  padding-block: variables.$spacing-section;
  background-color: var(--color-text-alpha);
}

.container {
  @include variables.container;
  @include variables.flex;
  flex-direction: column;
}

.title {
  @include variables.font-h2;
  margin-bottom: variables.$spacing-sm;
}

.text {
  @include variables.font-caption;
  margin-bottom: variables.$spacing-lg;
  text-align: center;
}

.list {
  @include variables.flex;
  align-items: center;
  flex-direction: column;
  gap: variables.$spacing-sm;
  padding-inline: variables.$spacing-md;
}
