@use "@/scss/variables.scss";

.section {
  padding-block: variables.$spacing-section;
  background-color: rgba(variables.$text, $alpha: 0.5);
}

.container {
  @include variables.container;
  @include variables.flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include variables.font-h2;
  margin-bottom: variables.$spacing-sm;
}

.text {
  @include variables.font-text-sm;
  margin-bottom: variables.$spacing-lg;
}
.link {
  @include variables.flex;
  align-items: center;
  gap: 5px;
}
.descr {
  @include variables.font-text-sm;
  margin-bottom: 8px;
}
