@use "@/scss/variables.scss";

.section {
  padding-block: variables.$spacing-section;
  background-color: rgba(variables.$text, $alpha: 0.5);
}

.container {
  @include variables.container;
  @include variables.flex;
  flex-direction: column;
}

.title {
  @include variables.font-h2;
  margin-bottom: variables.$spacing-sm;
}

.text {
  @include variables.font-caption;
  margin-bottom: variables.$spacing-lg;
}
.media {
  @include variables.flex;
  gap: variables.$spacing-lg;
}
